
<header class="text-center">
  <h1 class="text-center" id="main-header">JavaScript.com News Scrapper</h1>
  <button type>Get JS News</button>  
</header>

<div class="container">
  
  <div class="panel-group" id="accordion">
    
  
    {{#each article}}
     
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href={{this.link}} target="_blank"><h3>{{this.title}}</h3></a>
          </h4>
           <a data-toggle="collapse" data-parent="#accordion" href='#{{this._id}}'><button class="btn btn-info">Show Comments</button></a>
        </div>
       
        <div id={{this._id}} class="panel-collapse collapse">
          <div class="panel-body">
            <form action="/api/article/{{this.id}}" method="POST">
                <input name="title" type="text" placeholder="title">
                <textarea rows="4" cols="50" name="text" placeholder="comment"></textarea>
                <button type="submit">Add Comment</button>
            </form>
            
            <div class="well">
              {{#each this.comments}}                      
                <div class="well">
                
                  <div class="row">                
                    <div class="col-xs-8">
                      <h2><i>{{this.title}}</i></h2>
                      <p>{{this.text}}</p>
                    </div>
                    <div class="col-xs-4">
                      <form action="/api/comment/{{this._id}}" method="POST">
                        <input type="hidden" name="articleID" value={{../_id}}>
                        <button class="btn btn-lg">
                          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                      </form>
                    </div>
                  </div>  
               
              
                </div>
              {{/each}}
            </div>  
          </div>

        </div>
      </div>  
     
    {{/each}}

    </div><!-- ENd panel group-->
   
  
</div><!-- End .container -->

<footer class="footer">
    <div class="container">
        <p>&copy;Douglas Aquilino | <a href="https://github.com/daquilino/Pizza-Sequelized">GitHub Repo</a></p>
    </div>
</footer>
