




<header class="text-center">
  <h1 class="text-center" id="main-header">JavaScript.com News Scrapper</h1>  
</header>

<div class="container">
  
  <div class="panel-group" id="accordion">
    
  
    {{#each article}}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href='#{{this._id}}'>{{this.title}}</a>
          </h4>
           <a href={{this.link}} target="_blank">LINK</a>
        </div>

        <div id={{this._id}} class="panel-collapse collapse">
          <div class="panel-body">{{this._id}}</div>
        </div>
      </div>  
     
    {{/each}}

    </div><!-- ENd panel group-->
   
  
</div><!-- End .container -->

<footer class="footer">
    <div class="container">
        <p>&copy;Douglas Aquilino | <a href="https://github.com/daquilino/Pizza-Sequelized">GitHub Repo</a></p>
    </div>
</footer>
